\RWS\Debug\*.*
RWS\Debug\*.*
RWS/Debug/*.*
*.o
RWS/Debug/RWS1.lss
*.o
*.lss
*.lss
*.o
*.lss
*.map
RWS/configuration.h
RWS/Debug/main.o
RWS/Debug/RWS1.elf
RWS/Debug/RWS1.hex
RWS/Debug/RWS1.lss
RWS/Debug/RWS1.map
RWS/Debug/RWS1.srec
RWS/Debug/spi_handler.o
